<!doctype html>
<html>
<head>
  <title>Climate Change</title>
  <script type="text/javascript" src="/flask/static/ldavis.js"></script>
</head>
<body>
  <div id="menu">
    <ul>
      <li><a href="australia" id="home-menu-item" onclick="showPage('lda-australia')">Australia</a></li>
      <li><a href="uk" id="ldavis-menu-item" onclick="showPage('lda-uk')">UK</a></li>
      <li><a href="usa" id="ldavis-menu-item" onclick="showPage('lda-usa')">USA</a></li>
      <li><a href="india" id="ldavis-menu-item" onclick="showPage('lda-india')">India</a></li>

    </ul>
  </div>
  <div id="main-content">
    <div id="ldavis-container" style="display: none;"></div>
  </div>
</body>
</html>
